/* ------ CSS reset ------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ------ General Styles ------ */
/* typography */
h1, h2, h3 {
font-family: 'Changa One', cursive, sans-serif;
}
h2, h3, p {
  text-align: left;
  line-height: 1.5;
}
h1 {
  font-size: 80px;
  line-height: 1.2;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
}
/* -- Mobile size -- */
@media screen and (max-width: 800px) {
  /* resizing of the typopgraphy */
  h1 {
      font-size: 32px;
  }
  .tagline {
      font-size: 18px;
  }
  h3 {
      font-size: 24px;
  }
  p {
      font-size: 12px;
  }
  h2 {
      font-size: 28px;
  }
}
/* ------ Utilities ------ */
.text-center {
  text-align: center;
}
/* styles the tagline on the header and highlight */
.tagline {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}
/* positiong of the testimonal author */
.center-quote {
  display: inline-block;
  position: relative;
  margin-right: -250px;
}
/* adds padding all around */
.padded {
  padding:10%;
}
/* -- Mobile size -- */
@media screen and (max-width: 800px) {
  /* resizing of the overall padding */
  .padded {
      padding: 15%;
  }
}
/* changes font colour to yellow */
.yellow {
  color: #e4ac00;
}
/* changes font colour to white */
.white {
  color: #fff;
}
.white-space {
min-height: 50vh;
}
.white-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* ------ Banner Styles ------ */
header {
  background-image: url('../images/gilles-lambert-249996.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-attachment: fixed;
}
/* ------ Feature Styles ------ */
.image-1 {
  background-image: url('../images/charles-deluvio-351207.jpg');
  background-size: cover;
  background-position: center 30%;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh;
}
/* section 2 background image */
.image-2 {
  background-image: url('../images/rhema-kallianpur-275251.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh;
}
/* highlight background image */
.highlight {
  background-image: url('../images/joanna-kosinska-129039.jpg');
  background-size: cover;
  background-position: 20% 20%;
  text-align: center;
  min-height: 80vh;
}
/* -- styling of the testimonal section -- */
.blockquote {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
blockquote {
  display:block;
  background: #fff;
  padding: 50px 20px 0px 45px;
  margin: 0 0 20px;
  position: relative;
}
blockquote::after{
  content: "\201D"; /*Unicode for Left Double Quote*/
  right: 50px;
}
blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/
  left: 50px;
}
blockquote::before, blockquote::after{
  /*Font*/
  font-family: 'Maven Pro', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  top: -40px;
}
/* -- Mobile size -- */
@media screen and (max-width: 800px) {
/* resizing of the testimonal section */
  blockquote::before, blockquote::after {
    top: -15px;
}
  blockquote::before {
    left: 0px;
  }
blockquote::after {
    right: 0px;
}
.center-quote {
    margin-right: -150px;
}
.blockquote {
    font-size: 16px;
}
}
/* ------ Footer Styles ------ */
footer {
  background-color: #192b37;
  min-height: 100vh;
}
/* form */
input, textarea {
  width: 70%;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 4px 0;
  font-family: 'Maven Pro', sans-serif;
  color: #a0a0a0;
  font-size: 14px;
}
/* form button */
input[type=submit]{
    background-color: #ffbe00;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    width: 70%;
    -webkit-appearance: none;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
/* -- Mobile size -- */
@media screen and (max-width: 800px) {
/* resizing of the form */
input, textarea, input[type=submit] {
    width: 100%;
  }
}
