/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Layout, Padding and Margin */
.padded {
  padding-left: 10%;
  padding-right: 10%;
}
.white-space {
min-height: 50vh;
}
.white-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* typography */
h1, h2, h3 {
font-family: 'Changa One', cursive, sans-serif;
}
h1 {
  font-size: 80px;
  line-height: 1.2;
}
h2 {
  font-size: 60px;
  text-align: left;
  line-height: 1.5;
}
h3 {
  font-size: 40px;
  line-height: 1.5;
  text-align: left;
}
p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}
h2.center {
  text-align: center;
}
.text-center {
  text-align: center;
}
/* styles the tagline on the header and highlight */
.tagline {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}
/* changes font colour to yellow */
.yellow {
  color: #e4ac00;
}
/* changes font colour to white */
.white {
  color: #fff;
}
.center-quote {
  display: inline-block;
  position: relative;
  margin-right: -250px;
}
.blockquote {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
}
blockquote {
  display:block;
  background: #fff;
  padding: 50px 20px 0px 45px;
  margin: 0 0 20px;
  position: relative;
}

blockquote::after{
  content: "\201D";
  right: 50px;
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/
  left: 50px;
}

blockquote::before, blockquote::after{
  /*Font*/
  font-family: 'Maven Pro', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  top: -5px;
}

/* --- IMAGES --- */
header {
  background-image: url('../images/gilles-lambert-249996.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-attachment: fixed;
}
/* section 1 background image */
.image-1 {
  background-image: url('../images/charles-deluvio-351207.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
/* section 2 background image */
.image-2 {
  background-image: url('../images/rhema-kallianpur-275251.jpg');
  background-size: cover;
  background-position: center 30%;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
/* highlight background image */
.highlight {
  background-image: url('../images/joanna-kosinska-129039.jpg');
  background-size: cover;
  background-position: 20% 20%;
  text-align: center;
  min-height: 80vh;
}
footer {
  background-color: #192b37;
  min-height: 100vh;
}
/* form */
input, textarea {
  width: 50%;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 4px 0;
  font-family: 'Maven Pro', sans-serif;
  color: #a0a0a0;
  font-size: 14px;
}
input[type=submit]{
    background-color: #ffbe00;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    width: 50%;
    -webkit-appearance: none;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
@media screen and (max-width: 800px) {
  blockquote::before {
    left: 15px;
}
blockquote::after {
  right: 15px;
}
.center-quote {
    margin-right: -150px;
}
.blockquote {
    font-size: 16px;
}
.padded {
    padding-left: 15%;
    padding-right: 15%;
}
h1 {
    font-size: 32px;
}
.tagline {
    font-size: 18px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 12px;
}
h2 {
    font-size: 28px;
}
input, textarea, input[type=submit] {
    width: 80%;
  }
}
